# # # # # # # # # # # # # # # # # # # # # # # # # # #
# Available variables:
#
# bg_alpha - background alpha value, range 0 to 255 (Pretty, but a big performance hit)
# bg_color - Background Color, RGB format
# txt_color_i - Text Color (Input). Color of the input line, RGB format
# txt_color_o - Text Color (Output). Color of the output lines, RGB format
# ps1/ps2/ps3 - strings that are prefixed to each input line, like their POSIX counterparts
# active - Whether or not the console is initially displayed
# repeat_rate - value to pass to pygame.key.set_repeat
# preserve_events - determines whether or not the console puts unused events back on the event queue
# python_mode - Send commands to the python interpreter instead of the pyconsole interpreter
# # # # # # # # # # # # # # # # # # # # # # # # # # #

bg_alpha 100
bg_color [30,30, 30]

txt_color_i [100, 100,100]
txt_color_o [150,150,120]

ps1 "] "
ps2 ">"
ps3 "... "

active True

repeat_rate [80,80]

preserve_events True

python_mode False

motd [" { remember, love is everything } "]
